/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,500,700);

*{
 padding:0;
    margin:0;
}
body{
/*    background-color: #FC5255;*/
}
    
div{
	box-sizing: border-box;
}

#login-dropdown-list{
    left:-160px;
    top:30px;
}

#login-buttons{
    margin-right:2.3em;   
}

.paw{
 font-weight: 600;   
}

#container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    padding-top: 1em;
}
.titles{
    width:100%;
    padding: 0 20px 0 2.3em;
}

.headText{
    font-family: "Dosis", sans-serif, arial;
    font-size: 24px;
    padding:1em 0 0.6em 0;
}
#leftWell, #rightWell{
	flex: 1 100%;
}
a{
 color:#00aced ;   
}
a:hover{
 color:#FC5255  ; 
    background-color: #402455 ;
}

.map{
	width: 100%;
	height: 70vh;
	min-height: 200px;
	background: #ccc;
	border: 1px solid #333;
    margin-bottom: 2.3em;
}

h2.dogName{
    font-size: 40px;   
/*    margin: 0.5em 0 0.3em 0 !important;*/
    color:#402455;
    font-family: "Dosis", sans-serif, arial;
/*    float:right;*/
}
#activeDogs .profileInfo{
    text-align: left;
    width:50%;
    display:inline-block;
    padding-bottom: 40px;
}

#activeDogs .profileImg{
    margin: auto;
}

.activeFeed{
    border-bottom: 1px solid #dbdbdb;   
    
}

.btn {
    margin-left:10px;  
    margin-bottom: 10px;
}

.logo{
    font-size: 35px;   
    color:#FC5255;
    display:inline-flex;
    postion: absolute;
    padding-left:1em;
    font-family: "Dosis", sans-serif, arial;
/*    float:right;*/
}

.headerLoginBar{
    background-color: #402455;
    padding-top: 15px;
    width:100%;
    height:56px;
}

.userInfo{
    	display: flex;
	flex-wrap: wrap;
}

.loginName{
    text-align: right;
    height:30px;
    color: white;
    text-decoration: none;
    right:10px;
    font-family: "Dosis", sans-serif, arial;
        display:inline-flex;
    postion:relative;
    float:right;
}
.login-link-text{
 color:white;   
}
.login-link-text:hover{
 color:#FC5255;   
}

.profileInfo{
 color:#FC5255;   
}

.profileInfo{
    padding-left:1em;
}

.profileImg{
    min-width: 200px;
    min-height: 200px;
    width:23%;
    height:15vw;

    border-radius: 50%;
    overflow: hidden;
/*    margin-bottom: 2.3em;*/
}
img {
    max-width:100%;
    width:auto;
    height:auto;
    
}

.infoAnswer{
    text-transform: capitalize;   
    font-family: "Dosis", sans-serif, arial;
    padding-bottom: 10px;
}

.infoBold{
    font-size:14px;
    font-weight: 600;
    font-family: "Dosis", sans-serif, arial;
    text-transform: uppercase!important;
    display:inline;
    position: relative;
}

.about{
 width:100%;   
}
.aboutHead{
       
    font-size:34px;
    font-weight: 600;
    font-family: "Dosis", sans-serif, arial;
    text-transform: uppercase!important;
    display:inline;
    position: relative;
    line-height: 34px;
}

.step{
    font-size:24px;
    font-weight: 200;
    margin: 1em 0 0 0;
    font-family: "Dosis", sans-serif, arial;
    display:inline-block;
/*    background-color: #402455 ;*/
    color: #FC5255;
/*    padding: 10px;*/
/*    height: 50px;*/
  vertical-align: middle;
/*    position: relative;*/   
}

p{
    font-size:16px;
    font-weight: 200;
    padding: 1em 0 0.5em 0;
    font-family: "Dosis", sans-serif, arial;
    display:inline-block; 
}

/* Large screens */
@media all and (min-width: 800px) {    
	#container{
    padding-right:2.3em;
	}
	#leftWell{
		flex: 2;
		padding: 0 20px 0 2.3em;
	}

	#rightWell{
		flex: 1;
		padding-right: 10px;
	}

}


/*Mobile Screens */
@media all and (max-width: 800px) {
        body{
        padding: 0 !important;
        margin: 0 !important;
    }
    
    #container{
padding: 20px;    }
    
    ul{
     padding-right:20px;  
    }
/*
        
    .headerLoginBar{
        padding: 0;
        margin: 0;
    }
*/
}